#h1 {
  color : rgb(78, 4, 78);
  margin: 2em !important;
  font-size: 40px ;
  text-align: center;
  font-family:"Comic Sans MS", cursive, sans-serif ;
  text-shadow: 2px 3px rgb(78, 4, 78) ;
  }
  .movie-card {
    width: 20vw;
    height: 28vw;
    border:2px solid black;
    text-align: center;
    align-items: center;
    margin: 20px;
    font-size: 1.5vw;
}
.search {
  font-size: 30px;
  margin-left: 7em;
  margin-bottom:3em;
}
body {
  background-color : skyblue !important;
}
#h4 {
  color : rgb(78, 4, 78);
font-family:"Comic Sans MS", cursive, sans-serif  ;
text-shadow: 1px 1px black;
font-size: 25px ;
margin-left: 40em;
}
.star {
 
  font-size: 35px ;
  margin-left: 8em;
}
.plus {
  margin-left: 30em;
  margin-top: 4em;
  background-image: url(https://cdn.pixabay.com/photo/2017/03/19/03/51/material-icon-2155448_960_720.png);
  background-repeat: no-repeat;
  background-size:  250px;
  height: 120px;
  width: 250px;
  font-size: 5px;
}
.list-items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#h5 {
  color : rgb(78, 4, 78);
font-family:"Comic Sans MS", cursive, sans-serif  ;
text-shadow: 1px 1px black;
font-size: 25px ;
}